<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1> ITEM: <%= myMessage %> </h1>
    <h2> Model: <%= model %> </h2>

    <form action = "/shops" method = "get">
        <Label for="red" name="product_name" placeholder="Enter product name" required>
        <input type="number" name="product_price" placeholder="Enter product price" required>
        <button type="submit">Submit</button>

    </body>
</html>